<form id="form1" runat="server">
     <div  layout-align="center center" style="width: 80%; border: 1px solid black; border-radius: 5px; margin-top: 30px;">
         <div class="header" style="border: 1px solid black; border-radius: 5px;height:40px;padding-top:10px;"><span class="menu_frame_title">My Profile</span></div>
      <div style="position:relative;padding:0px 30px 30px 30px;">
        <ng-container *ngIf="apiError">
            <p class="APIErrorText">Interface is not live or something went wrong.</p>
        </ng-container>
       
      <table style="width:90%;vertical-align:top;" *ngIf="!apiError && !isLoading">
          <tr style="padding:10px;vertical-align:middle;">
              <td style="padding:10px;width:20%">User Name  :</td>                  
              <td style="width:30%"><span fieldtype="readonly" #username id="username">{{userData$[0].first_name}} &nbsp; {{userData$[0].last_name}}</span></td>
              <td style="padding:10px;width:23%">Company Name  :</td>
              <td style="width:28%"><span fieldtype="readonly" #companyname id="companyname">{{userData$[0].company_name}}</span></td>                 
          </tr>
           <tr>
              <td style="padding:10px">Email Id  :</td>
              <td><span value="" fieldtype="readonly" style="overflow-wrap:break-word;" #email id="email" >{{userData$[0].user_email}}</span></td>
              <td style="padding:10px">Activity Access  :</td>
              <td><span value="" fieldtype="readonly" #activityaccess id="activityaccess" >{{userData$[0].activity_name}}</span></td>                 
          </tr>              
           <tr>
              <td style="padding:10px">Role  :</td>
              <td><span value="" fieldtype="readonly" #role  id="role" >{{userData$[0].role_name}}</span></td>
              <td style="padding:10px">Status  :</td>                    
              <td><span value="" fieldtype="readonly" #status id="status" >Active</span></td>                 
          </tr>              
      </table>
      <ng-container *ngIf="isLoading">
          <div style="display:flex;align-items:center;justify-content:center;">
        <img src="../../assets/images/loading-v3.gif" />
        
          </div>
    </ng-container>
          </div>
         </div>
</form>